include ./header.pug
main
    h3 ¿Quiénes somos?
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed perferendis, expedita dignissimos eligendi natus deserunt nostrum soluta, laborum nisi quam doloremque totam consectetur iusto veritatis, ducimus minus odit modi. Omnis!
include ./footer.pug